* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../Images/binding_dark.png");
    background-color: #151515;
    color: white;
    width: 1000px;
    margin: auto;
}

/* --------------------------------Menu START-------------------------------------- */
ul#menu {
    list-style-type: none;
    margin: 0 0 30px 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(66, 66, 66, 0.65);
    font-size: 19px;
}

ul#menu li {
    float: left;
}

ul#menu li#first_li {
    margin-left: 480px;
}

ul#menu li#protected_first_li {
    margin-left: 0;
}

ul#menu li a:link, ul#menu li a:visited {
    display: block;
    width: 120px;
    color: azure;
    font-weight: bold;
    text-align: center;
    padding: 10px 5px;
    text-decoration: none;
}

ul#menu li a:hover, ul#menu li a:active {
    color: #dc7700;
}

ul#menu li ul {
    position: absolute;
    background-color: rgba(66, 66, 66, 0.65);
    border-top: solid 1px #dc7700;
    display: none;
}

ul#menu li ul li {
    float: none;
    list-style-type: none;
}

/* --------------------------------Menu END-------------------------------------- */

img#logo {
    width: 435px;
    height: 100px;
    margin: 20px 0 20px 20px;
}

.global_main_text {
    font-size: 105%;
    font-family: Georgia, serif;
    text-align: justify;
    text-justify: inter-word;
}