* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../Images/binding_dark.png");
    background-color: #151515;
    color: white;
    width: 1000px;
    margin: auto;
}

img#logo {
    width: 435px;
    height: 100px;
    margin: 20px 0 20px 20px;
}

.global_main_text {
    font-size: 105%;
    font-family: Georgia, serif;
    text-align: justify;
    text-justify: inter-word;
}

/* --- MENU START --- */

ul#menu {
    list-style-type: none;
    margin: 0 0 30px 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(66, 66, 66, 0.65);
    font-size: 19px;
}

ul#menu li {
    float: left;
}

ul#menu li#first_li {
    margin-left: 480px;
}

ul#menu li#protected_first_li {
    margin-left: 0;
}

ul#menu li a:link, ul#menu li a:visited {
    display: block;
    width: 120px;
    color: azure;
    font-weight: bold;
    text-align: center;
    padding: 10px 5px;
    text-decoration: none;
}

ul#menu li a:hover, ul#menu li a:active {
    color: #dc7700;
}

ul#menu li ul {
    position: absolute;
    background-color: rgba(66, 66, 66, 0.65);
    border-top: solid 1px #dc7700;
    display: none;
}

ul#menu li ul li {
    float: none;
    list-style-type: none;
}

/* --- MENU END --- */

/* --- CALENDAR START --- */

.ui-datepicker {
    background: #252525;
    border: solid 1px #666666;
    color: azure;
}

.ui-datepicker-calendar a.ui-state-default:hover {
    background: #dc7700;
    border: solid 1px #dc7700;
}

.ui-datepicker-calendar .ui-datepicker-today a {
    background: #666666;
    border: solid 1px #666666;
}

/* --- CALENDAR END --- */

/* --- AGREEMENT FORM START --- */

div#agreement {
    margin: auto;
    width: 85%;
}

div#agreement label, div#agreement input {
    margin-bottom: 5px;
    margin-top: 5px;
}

div#agreement input {
    border: solid 1px #666666;
    height: 25px;
    font-size: 15px;
    width: 263px;
    background-color: #252525;
    color: azure;
}

div#agreement textarea#notes {
    height: 200px;
    width: 546px;
    background-color: #252525;
    border: solid 1px #666666;
    color: azure;
    font-size: 15px;
    resize: none;
}

div.input {
    display: inline-block;
    margin: 3px 7px 3px;
}

div.input #loadingAddress, div.input #unloadingAddress {
    width: 404px;
}

div.input input#loadingDate, div.input input#unloadingDate, div.input input#invoiceSendDate {
    width: 110px;
}

#saveAgreement:link, #saveAgreement:visited {
    width: 200px;
    height: 40px;
    background-color: #252525;
    border: solid 1px #666666;
    color: azure;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-size: larger;
    line-height: 40px;
    float: right;
    margin-top: 182px;
    margin-right: 10px;
}

#saveAgreement:active, #saveAgreement:hover {
    border: solid 1px #dc7700;
    color: #dc7700;
}

#result {
    /*border: solid 1px #666666;*/
    height: 40px;
    width: 83%;
    margin: auto;
    font-weight: bold;
    font-size: 125%;
    line-height: 40px;
    text-align: right;
}

#close_form {
    display: none;
}

/* --- AGREEMENT FORM END  --- */

/* --- DATATABLE START --- */



/* --- DATATABLE END --- */